body {
  background-color: #e5f0ff;
  font-family: sans-serif;
  
}

.container {
  width: 300px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f5f2;
  opacity: 85%;
  
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

button {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-left: 10px;
  
}

.additional-links {
  text-align: center;
}

a {
  color: #111010e0;
  text-decoration: none;
  font-weight: bold;
}
  
  